.Cell {
    display: inline-block;
    padding: 1rem;
    border: 1px solid black;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    text-align: center;
}

.Cell:after {
    content: '';
    display: inline-block;
}

.Cell:hover {
    cursor: pointer;
}

.Clicked {
    background-color: lightgrey;
}

.NumberOne {
    color: blue;
}

.NumberTwo {
    color: green
}

.NumberThree {
    color: red;
}

NumberFour {
    color: darkblue;
}